pipeline/copy_all_tables.json
{
	"name": "copy_all_tables",
	"properties": {
		"activities": [
			{
				"name": "Look for all tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MySqlSource",
						"query": "SELECT \n    TABLE_SCHEMA AS 'SchemaName',\n    TABLE_NAME AS 'TableName'\nFROM \n    information_schema.TABLES\nWHERE \n    TABLE_SCHEMA = 'sakila';\n\n"
					},
					"dataset": {
						"referenceName": "mysqlDBTables",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "for schema table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Look for all tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Look for all tables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy each table",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "MySqlSource",
									"query": {
										"value": "@{concat('SELECT * FROM ', item().SchemaName, '.', item().TableName)}\n",
										"type": "Expression"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "mysqlservercopy",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Parquet1",
									"type": "DatasetReference",
									"parameters": {
										"schemaname": {
											"value": "@item().SchemaName",
											"type": "Expression"
										},
										"tablename": {
											"value": "@item().TableName",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Bronze to Silver",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Storege mount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/queagusticidad@hotmail.com/bronze to silver"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabrickslinkedservice",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Silver to Gold",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Bronze to Silver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/queagusticidad@hotmail.com/SILVER TO GOLD"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabrickslinkedservice",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Storege mount",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "for schema table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/queagusticidad@hotmail.com/storegemount"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabrickslinkedservice",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-08-31T16:24:36Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}